@page
@model Shop.Views.Shop.DetailsModel
@{
    ViewBag.Title = ViewBag.Item.name;
    //((ShopController)this.ViewContext.Controller).
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/css/Shop.css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <section>
        <main class="ItemDetailsPage">
            <div class="ItemDetails">

                <div class="Preview">
                    <img src="@ViewBag.Item.pictureUrl" />
                </div>

                <div class="Description">

                    <h1 class="Title">
                        @ViewBag.Title
                    </h1>

                    <div class="Text">
                        @ViewBag.Item.description
                    </div>

                    <div class="Price">
                        Cena: @ViewBag.Item.price zł
                    </div>

                    <button class="CartButton btn btn-outline-dark">
                        Dodaj do koszyka
                    </button>
                </div>

            </div>

            <a href="/Shop/Products">
                <button class="BackButton btn btn-outline-dark">
                    Powrót
                </button>
            </a>


            <div class="Suggestions">
                <h2>Inne produkty:</h2>
                <div class="ShopItemsList">
                    @foreach (var item in ViewBag.SuggestedItems)
                    {
                        <div class="ShopItem">
                            <a href="/Shop/Products/Details/@item.id">
                                <img src="@item.pictureUrl" />
                            </a>
                            @item.name
                        </div>
                    }
                </div>
            </div>
        </main>
    </section>

</body>
</html>