@page
@model Shop.Views.Shop.ItemsModel
@{
    ViewBag.Title = "Produkty";
}

<h1>@ViewBag.Title</h1>

<!DOCTYPE html>

<html>
<head>
    <style>

        section {

            width: 1060px;
            padding-bottom: 500px;
        }

        .ShopItem {
            width: 20%;
            height: 250px;
            margin-right: 5%;
            margin-bottom: 30px;
            text-align: center;
            float: left;
            position: relative;
        }

        .ShopItemsList {
            display: block;
            position: relative;
            grid-template-columns: auto 250px 250px 250px auto;
            grid-template-rows: auto;
            height: 110%;
        }

        .ShopItem img {
            width: 250px;
            height: 250px;
            display: block;
        }
        
        .divider{
            height: 100px;
        }

    </style>


    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <section>

        <div class="ShopItemsList">
            @foreach (var item in ViewBag.shopItems)
            {
                <div class="ShopItem">
                    <a href="Products/Details/@item.id">
                        <img src="@item.pictureUrl" />
                    </a>
                    @item.name
                </div>
            }
            @foreach (var item in ViewBag.shopItems)
            {
                <div class="ShopItem">
                    <a href="Products/Details/@item.id">
                        <img src="@item.pictureUrl" />
                    </a>
                    @item.name
                </div>
            }
            @foreach (var item in ViewBag.shopItems)
            {
                <div class="ShopItem">
                    <a href="Products/Details/@item.id">
                        <img src="@item.pictureUrl" />
                    </a>
                    @item.name
                </div>
            }
            <div class="divider">
                asdad
            </div>
        </div>

    </section>

</body>
</html>